* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    background: url('http://wes.io/hx9M/oh-la-la.jpg') center no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

*, *:before, *:after {
    box-sizing: inherit;
}

svg {
    fill: white;
    background: rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 50%;
    width: 200px;
    margin-bottom: 50px;
}

.wrapper {
    font-family: 'Raleway', sans-serif;
    padding: 20px;
    max-width: 350px;
    background: #eed5d2;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
    color: #008b8b;
    letter-spacing: 0.1em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.wrapper h2 {
    text-align: center;
    margin: 0 0 10px;
    font-family: 'Overpass', sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-weight: 600;
    color: #8b4789;
}

.plates {
    text-align: left;
    list-style: none;
}

.plates li {
    border-bottom: 1px solid #fff0f5;
    padding: 10px 0;
    font-weight: 100;
    display: flex;
}

.plates label {
    flex: 1;
    cursor: pointer;
}

.plates input {
    display: none;
}

.plates input+label:before {
    content: '⬜️';
    margin-right: 10px;
}

.plates input:checked+label:before {
    content: '🍝';
}

.add-items {
    margin-top: 20px;
}

.add-items input {
    padding: 10px;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.1em;
}

input[type=submit] {
    background: #8b7d7b;
    color: black;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-family: 'Raleway', sans-serif;

}
